.material-header {
    background-color: #333333;
}

:host {
    display: block;
    margin: 0;
    overflow: hidden;
    position: relative;
}

.content {
    min-height: 500px;
}

.controls {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}
.selected {
    background-color: #eeeeee;
}

.content {
  margin: 25px;
}


