<header class="material-header">
    <div class="material-header-row">
        <material-button icon class="material-drawer-button" (trigger)="drawer.toggle()">
            <material-icon icon="menu"></material-icon>
            <span class="material-header-title">OCON</span>
        </material-button>
        <!--<material-button icon class="material-drawer-button" (trigger)="drawer.toggle()">-->
            <!--<material-icon icon="menu"></material-icon>-->
            <!--<span class="material-header-title">OCON</span>-->
        <!--</material-button>-->
        <!--<div class="material-spacer"></div>-->
        <!--<nav class="material-navigation">-->
            <!--<a>Link 1</a>-->
        <!--</nav>-->
        <!--<nav class="material-navigation">-->
            <!--<a>Link 2</a>-->
        <!--</nav>-->
        <!--<nav class="material-navigation">-->
            <!--<a>Link 3</a>-->
        <!--</nav>-->
    </div>
</header>
<material-drawer persistent #drawer="drawer">
    <div group class="mat-drawer-spacer"></div>
    <mat-list>
    <material-list-item *ngFor="let server of servers" (click)="selected_server = server"
                        [ngClass]="{'selected': server === selected_server}">
        <material-icon icon="device_hub"></material-icon>
        <span>{{server.name}}</span>
    </material-list-item>
    </mat-list>
</material-drawer>
<material-content class="material-content">
    <div class="content">
        <node-explorer></node-explorer>
    </div>
</material-content>



