<p *ngIf="!node_tree_exists">Node offline</p>
<div class="flex-container main">
    <div class="flex-item" *ngIf="node_tree_exists">
        <h4 class="custom-header">Server info</h4>
        <recursive-list [items]="node_tree.server"></recursive-list>
        <h4 class="custom-header">Node navigator</h4>
        <node-navigator  [node]="node_tree" (selected_node)="selected_node = $event" ></node-navigator>
    </div>
    <div class="flex-item" *ngIf="node_tree_exists">
        <h4 class="custom-header">Node inspector</h4>
        {{selected_node.path}}:
        <recursive-list [items]="selected_node.info"></recursive-list>
        Interfaces:
        <recursive-list [items]="selected_node.interfaces"></recursive-list>
        Input bindings:
        <recursive-list *ngFor="let binding of selected_node.bindings" [items]="binding"></recursive-list>
    </div>
</div>



